
body {
    margin: 0;
	background-color: #FFDBAA;
	color: #553100;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #D4A76A;
    position: fixed;
    height: 100%;
    overflow: auto;
	height: 40%;
	border-radius: 0px 0px 50px 0px;
}


ol.bone {
    list-style-image: url('small_bone.png');
    }

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #553100;
    color: white;
}

li a:hover:not(.active) {
    background-color: #805215;
    color: white;
}

h1 {
	text-align: center;
	font-weight:Bold;
	}
h2 {
		
	text-align: center;
	font-size: 250%;
	font-weight:Bold;
	}
	
h3 {
		
	text-align: center;
	font-size: 150%;
	font-weight:Bold;
	}
h4 {
		
	text-align: left;
	font-size: 130%;
	font-weight:Bold;
	}
h5 {
	text-align: center;
	font-size: 70%;
	font-weight:Bold;
	}
	
.vert {
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
	text-align: center;
}


 table, td {
	border: 3px #D4A76A solid;
}

 

td a:link {
    color: #D4A76A;
}

td a:hover {
    color: white;
}

.video-right {
    float: right;
    padding-left: 15px;
}

.video-left {
    float: left;
    padding-left: 15px;
}
.floating-box {
    display: inline-block;
    width: 40%;
	
    margin: 30px;
    <!--border: 3px solid #73AD21;--!>
}

.after-box {
    border: 3px solid red; 
}
		
img.rotate-left {
    width:auto;
	height:200px;
	border-radius: 8px;
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
}
img.rotate-right2 {
   	
	left: 1px;
	border-radius: 18px;
	-ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
}

img.rotate-right {
   	width:auto;
	height:285px; 
	left: 1px;
	border-radius: 18px;
	-ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
}

#footer {
	position: relative;     
       text-align: center;
		font-size:80%;
		bottom: 0px; 
       width: 100%;
	   background-color: #553100;
		color: white;
		padding: 2px 2px;
		font-style: oblique;
			
}
#footer a:link { color: white; }
#footer a:visited { color: #FFDBAA; }
#footer a:hover { color: #31F8F8; }
#footer a:active { color: #F831E9; }